*{
  box-sizing: border-box;  
}

.console-sandbox {
  width: 100%;
}

.console-sandbox > ul {
  padding: 0;
  height: 350px;
  border: solid 1px #cfd6d9;
  border-bottom: none;
  margin: 0;
  overflow: scroll;
  list-style: none;
}

.console-sandbox > ul > li:hover, .console-sandbox > ul > li > label:hover {
  cursor: pointer;
  background-color: rgba( 0, 0, 0, 0.02)
}

.console-sandbox > ul > li {
  padding: 5px;
  border-bottom: solid 1px #cfd6d9;
}

.console-sandbox > ul > input {
  display: none;
}

.console-sandbox > ul > input[type=radio]:checked + li {
  background-color: rgba( 0, 0, 0, 0.04)
}

.console-sandbox > ul > li code {
  padding: 5px;
  background-color: transparent;
}

.console-sandbox > ul > li pre {
  margin: 0;
}

.console-sandbox > ul > li > label > pre > code:before {
  width: 10px;
  display: inline-block;
  margin-right: 5px;
  color: #c5c1c0
}

.console-sandbox > ul > li > label > pre > code:first-of-type:before {
  content: ">";
}
.console-sandbox > ul > li > label > pre > code:last-of-type:before {
   content: "<";
}

.console-sandbox > .console-input {
  width: 100%;
  font-size: 14px;
  padding: 5px;
  font-family: monospace;
  padding-left: 25px;
  position: relative;
  border: solid 1px #cfd6d9;
  overflow: hidden;
  max-height: 100px;
  margin-top: -1px;
  outline: none;
}

.console-sandbox > .console-input:after {
  content: '>';
  font-size: 14px;
  position: absolute;
  top: calc( 50% - 18px/2 );
  left: 8px;
  color: #328cc1;
}